.HH{
    padding: 5px;
    position:static;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center space-around;
    position: static;
}
#search{
    margin: 5px;
    color: black;
    background-color: antiquewhite;
    border: 5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


#login , #signin{
    margin: 5px;
    background-color: blue;
    color: aliceblue;
    border: 5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#login:hover{
    background-color: rgb(227, 227, 231);
    color: rgb(226, 10, 10);
    border: 5px solid rgb(83, 223, 18);
}

#signin:hover{
    background-color: rgb(227, 227, 231);
    color: rgb(226, 10, 10);
    border: 5px solid rgb(83, 223, 18);
}

