div{
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 10px solid black;
}

img{
    padding: 10px;
    border: 10px solid gray;
    border-radius: 50%;
}

img:hover{
    border: 15px solid black;
}

h1{
    padding: 10px;
}