.side{
    padding: 10px;
    display: flex;
    flex-direction:column;
    align-items: center ;
    justify-content: space-around;
}
.H{
    margin: 10px;
    background-color: blue;
    color: aliceblue;
    border: 5px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.H:hover{
    background-color: rgb(227, 227, 231);
    color: rgb(226, 10, 10);
    border: 5px solid rgb(83, 223, 18);
}

